@model List<DraftViewModel>

@{ 
    ViewBag.Title = "Drafts";
}


<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid bg-ocean-circles border-black">
        <div class="container text-center">
            <h1 class="display-4 strokeme">@ViewBag.Title (@Model.Count() / 10)</h1>
        </div>
    </div>
    <div id="drafts-container">
        <partial name="_DraftsPartial" model="@Model" />
    </div>
</div>
