/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bg-ocean {
    background: rgb(143,234,255);
    background: radial-gradient(circle, rgba(143,234,255,1) 0%, rgba(14,198,251,1) 49%, rgba(173,228,255,1) 100%);
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.border-notop {
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
}
.border-nobottom {
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    border-top: 1px solid #222;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.layout-logo {
    max-width: auto;
    max-height: 60px;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.index-logo {
    max-width: auto;
    max-height: 100px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.shorting {
    width: 60%;
}

.shorting-40 {
    max-width: 40%;
}

.shorting-10 {
    max-width: 10%;
}

.mw-250 {
    max-width: 250px;
}

.media-img img {
    width: 40px;
    height: auto
}

.mt-100 {
    margin-top: 100px
}

.mr-100 {
    margin-right: 100px
}

.mr-200 {
    margin-right: 200px
}

.mr-350 {
    margin-right: 350px
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125)
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.flex-truncate {
    min-width: 0 !important
}

.d-block {
    display: block !important
}

.media img {
    width: 40px;
    height: auto
}

.media-img-40 img {
    width: 40px;
    height: 40px;
}

.media-img-30 img {
    width: 30px;
    height: 30px;
}

.bg-tablehead {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.text-color-black {
    color: black !important;
}

.mw-120p {
    max-width: 120px;
}

.table-fixed {
    table-layout: fixed;
}

.smaller-center {
    width: 97.3%;
    margin-left: auto;
    margin-right: auto;
}

.strokeme {
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.w-40 {
    width: 40% !important;
}

.w-30 {
    width: 30% !important;
}

.mw-350 {
    max-width: 350px;
}

.navbar-right {
    float: right;
}


.glyphicon-user {
    background-image: url(https://i.imgur.com/Q67mO1m.png);
}

.dropdown-link-text {
    display: inline-block;
    margin-left: 20px;
}

.mh-600{
    max-height: 600px;
    overflow: auto;
}

.mh-100 {
    max-height: 100px;
    overflow: auto;
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media only screen and (max-width:750px) {

    .layout-anchor span {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .thread-icon a{
        display: none;
    }
}

@media only screen and (max-width:1200px) {

    .hide-sm {
        display: none;
    }
}

#count_message {
    width: 70px;
    text-align: center;
}

.bdge {
    height: 21px;
    background-color: orange;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px
}

.comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer
}

.dot {
    height: 5px;
    width: 5px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.hit-voting:hover {
    color: blue
}

.hit-voting {
    cursor: pointer
}

.content-text {
    white-space: pre-wrap;
    font-size: 120%;
}

.mw-100 {
    width: 100px;
    height: auto;
}

.mh-50 {
    max-height: 100px;
    overflow: auto;
}

.mw-min-content {
    max-width: min-content;
    max-height: auto;
}

.align-end {
    margin-left: auto;
    margin-right: 0;
}

hide-empty:empty {
    display: none !important;
}

/*loader*/
.loaderbody {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgba(128,128,128,0.2);
    z-index: 2147483647;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.5s linear infinite;
    position: fixed;
    top: 30%;
    left: 48%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}

.user-icon {
    vertical-align: middle;
    font-size: 40px;
}

.big-icon {
    vertical-align: middle;
}

.info-circle {
    vertical-align: middle;
    font-size: 30px;
}

.empty-category {
    vertical-align: middle;
    font-size: 40px;
}

.user-heading img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 3px solid black;
    -webkit-border-radius: 50%;
}

.modal-dialog-profile {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.table-info {
    color: black !important;
}

.btn-link {
    font-weight: 400;
    color: black !important;
    text-decoration: none !important;
}

    .btn-link:hover {
        color: blue !important;
    }

.color {
    background-color: #0094ff;
    padding-bottom: 5px;
    padding-top: 5px;
}

.notifyjs-corner {
    left: 50% !important;
    transform: translateX(-50%);
}

.fancy {
    background: rgb(148,94,255) !important;
    background: radial-gradient(circle, rgba(148,94,255,1) 0%, rgba(56,222,220,1) 53%, rgba(255,255,255,1) 100%) !important;
}

.comment-text {
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}

.btn-link-blue {
    font-weight: 400;
    color: blue;
    text-decoration: none;
}

    .btn-link-blue:hover {
        color: black;
    }

    .btn-link-blue:focus, .btn-link.focus {
        text-decoration: underline;
    }

    .btn-link-blue:disabled, .btn-link.disabled {
        color: #999;
        pointer-events: none;
    }


.commented-text {
    padding: 10px;
}

.comment-options {
    display: none;
}

.commented-section:hover {
    background-color: #f9ffff;
    background-image: linear-gradient(90deg, #f9ffff 0%, #b1faff 50%, #f9ffff 100%);
}
.commented-section:hover .comment-options {
    display: inline;
}

         
         
         
         
         
         


