/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bg-ocean {
    background-image: linear-gradient(45deg, #5fc9ed 25%, #58c5db 25%, #58c5db 50%, #5fc9ed 50%, #5fc9ed 75%, #58c5db 75%, #58c5db 100%);
    background-size: 14.14px 14.14px;
}

.bg-ocean-layout {
    background-image: linear-gradient(135deg, #60d1f7 25%, #50cde6 25%, #50cde6 50%, #60d1f7 50%, #60d1f7 75%, #50cde6 75%, #50cde6 100%);
    background-size: 14.14px 14.14px;
}

.border-cut {
    border: 1px dashed black !important;
}

.v-middle {
    vertical-align: middle !important;
}

.border-black-top {
    border-top: 1px solid black !important;
}
.border-black-bottom {
    border-bottom: 1px solid black !important;
}
.border-black-left {
    border-left: 1px solid black !important;
}
.border-black-right {
    border-right: 1px solid black !important;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.border-notop {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
}
.border-nobottom {
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-top: 1px solid black !important;
}
.border-noright {
    border-left: 1px solid black !important;
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
}
.border-noleft {
    border-bottom: 1px solid black !important;
    border-right: 1px solid black !important;
    border-top: 1px solid black !important;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 5rem;
}
.footer {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 35px; /* Vertically center the text there */
}

.layout-logo {
    max-width: auto;
    max-height: 60px;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.index-logo {
    max-width: auto;
    max-height: 100px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.shorting {
    width: 60%;
}

.shorting-40 {
    max-width: 40%;
}

.shorting-10 {
    max-width: 10%;
}

.mw-250 {
    max-width: 250px;
}

.media-img img {
    width: 40px;
    height: auto
}

.mt-100 {
    margin-top: 100px
}

.mr-100 {
    margin-right: 100px
}

.mr-200 {
    margin-right: 200px
}

.mr-350 {
    margin-right: 350px
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125)
}

.size-250 {
    max-width: 250px;
    max-height: 250px;
}

.w-15{
    width: 15%;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.flex-truncate {
    min-width: 0 !important
}

.d-block {
    display: block !important
}

.media img {
    width: 40px;
    height: auto
}

.media-img-40 img {
    width: 40px;
    height: 40px;
}

.media-img-30 img {
    width: 30px;
    height: 30px;
}

.bg-tablehead {
    background-color: #d5fbff;
    opacity: 1;
    background-image: repeating-linear-gradient(45deg, #baf3ff 25%, transparent 25%, transparent 75%, #baf3ff 75%, #baf3ff), repeating-linear-gradient(45deg, #baf3ff 25%, #d5fbff 25%, #d5fbff 75%, #baf3ff 75%, #baf3ff);
    background-position: 0 0, 8px 8px;
    background-size: 16px 16px;
}

.bg-tablehead-gray {
    background-color: #f1f1f1;
    opacity: 1;
    background-image: repeating-linear-gradient(45deg, #e6e6e6 25%, transparent 25%, transparent 75%, #e6e6e6 75%, #e6e6e6), repeating-linear-gradient(45deg, #e6e6e6 25%, #f1f1f1 25%, #f1f1f1 75%, #e6e6e6 75%, #e6e6e6);
    background-position: 0 0, 8px 8px;
    background-size: 16px 16px;
}

.text-color-black {
    color: black !important;
}

.mw-120p {
    max-width: 120px;
}

.table-fixed {
    table-layout: fixed;
}

.smaller-center {
    width: 97.3%;
    margin-left: auto;
    margin-right: auto;
}

.strokeme {
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.w-40 {
    width: 40% !important;
}

.w-30 {
    width: 30% !important;
}

.mw-350 {
    max-width: 350px;
}

.navbar-right {
    float: right;
}


.glyphicon-user {
    background-image: url(https://i.imgur.com/Q67mO1m.png);
}

.dropdown-link-text {
    display: inline-block;
    margin-left: 20px;
}

.mh-600{
    max-height: 600px;
    overflow: auto;
}

.mh-100 {
    max-height: 100px;
    overflow: auto;
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media only screen and (max-width:995px) {

    .layout-anchor span {
        display: none;
    }

    .thread-icon a{
        display: none;
    }
}

@media only screen and (max-width:1200px) {

    .hide-sm {
        display: none;
    }
}

#count_message {
    width: 70px;
    text-align: center;
}

.comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer
}

.dot {
    height: 5px;
    width: 5px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.hit-voting:hover {
    color: blue
}

.hit-voting {
    cursor: pointer
}

.content-text {
    white-space: pre-wrap;
    font-size: 120%;
}

.edges {
    border-radius: 0px !important;
}

.mw-100 {
    width: 100px;
    height: auto;
}

.mh-50 {
    max-height: 100px;
    overflow: auto;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-16 {
    width: 16%;
}

.w-35 {
    width: 35%;
}

.mw-min-content {
    max-width: min-content;
    max-height: auto;
}

.align-end {
    margin-left: auto;
    margin-right: 0;
}

hide-empty:empty {
    display: none !important;
}

/*loader*/
.loaderbody {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgba(128,128,128,0.2);
    z-index: 2147483647;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 0.4s linear infinite;
    position: fixed;
    top: 30%;
    left: 48%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}

.user-icon {
    vertical-align: middle;
    font-size: 40px;
}

.big-icon {
    vertical-align: middle;
}

.info-circle {
    vertical-align: middle;
    font-size: 30px;
}

.empty-category {
    vertical-align: middle;
    font-size: 40px;
}

.user-heading img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 1px solid black;
    -webkit-border-radius: 50%;
}

.modal-dialog-profile {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.btn-link {
    font-weight: 400;
    color: black;
    text-decoration: none !important;
}

    .btn-link:hover {
        color: blue !important;
    }

.color {
    background-color: #0094ff;
    padding-bottom: 5px;
    padding-top: 5px;
}

.notifyjs-corner {
    left: 50% !important;
    transform: translateX(-50%);
}

.fancy {
    background: rgb(148,94,255) !important;
    background: radial-gradient(circle, rgba(148,94,255,1) 0%, rgba(56,222,220,1) 53%, rgba(255,255,255,1) 100%) !important;
}

.size-100 {
    max-width: 150px;
    max-height: 150px;
}

.comment-text {
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}

.btn-link-wh {
    font-weight: 400;
    color: black !important;
    text-decoration: none;
}

    .btn-link-wh:hover {
        color: white !important;
    }


.commented-text {
    padding: 10px;
}

.comment-options {
    display: none;
}

.commented-section:hover {
    background-color: rgb(0 0 0 / 0.00);
    background-image: linear-gradient(90deg, rgb(0 0 0 / 0.00) 0%, #f0f0f0 50%, rgb(0 0 0 / 0.00) 100%);
}
.commented-section:hover .comment-options {
    display: inline;
}

.bg-black {
    background-color: black;
}

.gray-stripes {
    background-image: linear-gradient(45deg, #ebebeb 25%, #f0f0f0 25%, #f0f0f0 50%, #ebebeb 50%, #ebebeb 75%, #f0f0f0 75%, #f0f0f0 100%) !important;
    background-size: 14.14px 14.14px !important;
}

.bg-ocean-circles {
    background-color: #c7f0ff;
    opacity: 1;
    background-image: linear-gradient(30deg, #61e8ff 12%, transparent 12.5%, transparent 87%, #61e8ff 87.5%, #61e8ff), linear-gradient(150deg, #61e8ff 12%, transparent 12.5%, transparent 87%, #61e8ff 87.5%, #61e8ff), linear-gradient(30deg, #61e8ff 12%, transparent 12.5%, transparent 87%, #61e8ff 87.5%, #61e8ff), linear-gradient(150deg, #61e8ff 12%, transparent 12.5%, transparent 87%, #61e8ff 87.5%, #61e8ff), linear-gradient(60deg, #61e8ff77 25%, transparent 25.5%, transparent 75%, #61e8ff77 75%, #61e8ff77), linear-gradient(60deg, #61e8ff77 25%, transparent 25.5%, transparent 75%, #61e8ff77 75%, #61e8ff77);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.pointthis {
    margin-left: 10px;
    margin-bottom: 15px;
    height: 40px;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 25px auto;
}

    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #333;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 2s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 2s infinite ease-in-out;
    }

    .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

/*brand buttons*/
.wrapper {
    display: inline-flex;
}

    .wrapper .icon {
        position: relative;
        background-color: #ffffff;
        border-radius: 7%;
        margin: 4px;
        width: 35px;
        height: 35px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapper .tooltip {
        position: absolute;
        top: 0;
        font-size: 14px;
        background-color: #ffffff;
        color: #ffffff;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

        .wrapper .tooltip::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            background-color: #ffffff;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

    .wrapper .icon:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }

    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
        background-color: #3b5999;
        color: #ffffff;
    }

    .wrapper .twitter:hover,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
        background-color: #46c1f6;
        color: #ffffff;
    }

    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
        background-color: #e1306c;
        color: #ffffff;
    }

    .wrapper .github:hover,
    .wrapper .github:hover .tooltip,
    .wrapper .github:hover .tooltip::before {
        background-color: #333333;
        color: #ffffff;
    }

    .wrapper .youtube:hover,
    .wrapper .youtube:hover .tooltip,
    .wrapper .youtube:hover .tooltip::before {
        background-color: #de463b;
        color: #ffffff;
    }

    .wrapper .patreon:hover,
    .wrapper .patreon:hover .tooltip,
    .wrapper .patreon:hover .tooltip::before {
        background-color: rgb(255, 66, 77);
        color: #ffffff;
    }

.tooltip {
    position: absolute;
    padding: 15px 10px;
    border-radius: 1px;
    text-align: center;
    white-space: nowrap;
    color: black;
    background-image: linear-gradient(45deg, #ebebeb 25%, #f0f0f0 25%, #f0f0f0 50%, #ebebeb 50%, #ebebeb 75%, #f0f0f0 75%, #f0f0f0 100%) !important;
    background-size: 14.14px 14.14px !important;
    border: 1px solid black;
}

.dark-stripes {
    background-image: linear-gradient(45deg, #bab8b8 25%, #b3b3b3 25%, #b3b3b3 50%, #bab8b8 50%, #bab8b8 75%, #b3b3b3 75%, #b3b3b3 100%);
    background-size: 14.14px 14.14px;
}

.graph {
    font-size: 25px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #1861ac;
    text-shadow: 2px 2px #ff1f8f, 3px 3px #000000;
}

.poem {
    line-height: 2.3;
}

.story {
    line-height: normal;
}

.comment-box {
    white-space: pre-wrap;
    overflow-y: hidden;
}

.mh-145px {
    max-height: 145px;
}



         
         
         
         
         
         


