/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bg {
    /* The image used */
    background-image: url(https://i.imgur.com/0YC3OUR.png);
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.layout-logo {
    max-width: auto;
    max-height: 60px;
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
}

.index-logo {
    max-width: auto;
    max-height: 100px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.shorting {
    width: 60%;
}

.media-img img {
    width: 40px;
    height: auto
}

.mt-100 {
    margin-top: 100px
}

.mr-100 {
    margin-right: 100px
}

.mr-200 {
    margin-right: 200px
}

.mr-350 {
    margin-right: 350px
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125)
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.flex-truncate {
    min-width: 0 !important
}

.d-block {
    display: block !important
}

a {
    color: black;
    text-decoration: none !important;
    background-color: transparent
}

.media img {
    width: 40px;
    height: auto
}

.media-img-40 img {
    width: 40px;
    height: auto
}

.media-img-30 img {
    width: 30px;
    height: auto
}

.strokeme {
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.w-40 {
    width: 40% !important;
}

.w-30 {
    width: 30% !important;
}

.mw-350 {
    max-width: 350px;
}

.navbar-right {
    float: right;
}


.glyphicon-user {
    background-image: url(https://i.imgur.com/Q67mO1m.png);
}

.dropdown-link-text {
    display: inline-block;
    margin-left: 20px;
}

.mh-600{
    max-height: 600px;
    overflow: auto;
}

.mh-100 {
    max-height: 100px;
    overflow: auto;
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media only screen and (max-width:660px) {

    .layout-anchor span {
        display: none;
    }

    .nav-item {
        display: none;
    }
}

@media only screen and (max-width:1200px) {

    .hide-sm {
        display: none;
    }
}

#count_message {
    width: 70px;
    text-align: center;
}

.bdge {
    height: 21px;
    background-color: orange;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px
}

.comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.hit-voting:hover {
    color: blue
}

.hit-voting {
    cursor: pointer
}

.content-text {
    white-space: pre-wrap;
}

.mw-100 {
    width: 100px;
    height: auto;
}

.mh-50 {
    max-height: 100px;
    overflow: auto;
}

.mw-min-content {
    max-width: min-content;
    max-height: auto;
}

.align-end {
    margin-left: auto;
    margin-right: 0;
}


