@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}

<body>
    <form method="post">
        <div class="container-fluid text-center col-8">
            <h1>@ViewData["Title"]</h1>
            <h4>Enter your email.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Email" style="float: left;"></label>
                <input asp-for="Input.Email" placeholder="Your email here..." class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger" style="float: left;"></span>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
