@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row mt-3">
    <div class="col-md-4 m-auto text-center">
        <h1>@ViewData["Title"]</h1>
        <h4>Enter your email.</h4>
        <hr />
        <form method="post">
            <div class="form-group">
                <label asp-for="Input.Email" style="float: left;"></label>
                <input asp-for="Input.Email" placeholder="Your email here..." class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger" style="float: left;"></span>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
