@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="row mt-3">
    <div class="col-md-4 m-auto text-center">
        <h1>@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <h4>Sign in to share your stories</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" style="float: left;"></label>
                    <input asp-for="Input.Email" placeholder="Your email here..." class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger" style="float: left;"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" style="float: left;"></label>
                    <input asp-for="Input.Password" placeholder="Your password here..." class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger" style="float: left;"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="form-group">
                    <span class="text-muted">Don't have an account?</span>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
                    <br />
                    <span class="text-muted">Forgot your password?</span>
                    <a id="forgot-password" asp-page="./ForgotPassword">Help</a>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
