@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<body>
    <form autocomplete="off" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="container-fluid col-8 text-center">
            <h1>@ViewData["Title"]</h1>
            <h4>Sign up to share your stories</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger text-left"></div>
            <div class="form-group" autocomplete="off">
                <label asp-for="Input.Username" style="float: left;"></label>
                <input asp-for="Input.Username" placeholder="Choose a username..." class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger" style="float: left;"></span>
            </div>
            <div class="form-group mt-4" autocomplete="off">
                <label asp-for="Input.Email" style="float: left;"></label>
                <input autocomplete="off" asp-for="Input.Email" placeholder="Your email here..." class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger" style="float: left;"></span>
            </div>
            <div class="form-group mt-4" autocomplete="off">
                <label asp-for="Input.Password" style="float: left;"></label>
                <input autocomplete="off" asp-for="Input.Password" placeholder="Choose a password..." class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger" style="float: left;"></span>
            </div>
            <div class="form-group mt-4" autocomplete="off">
                <label asp-for="Input.ConfirmPassword" style="float: left;"></label>
                <input autocomplete="off" asp-for="Input.ConfirmPassword" placeholder="Repeat your password..." class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="float: left;"></span>
            </div>
            <div class="form-group mt-2" autocomplete="off">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <div class="form-group">
                <span class="text-muted">Already have an account?</span>
                <a onclick="loginPopup('@Model.ReturnUrl')">Sign In</a>
            </div>
        </div>
    </form>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
