@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid" align="center" id="space-top">
    <img class="index-logo mt-5 mb-4" src="https://i.imgur.com/7pLHF2D.png" alt="Logo" />
    <div class="modal-body">
        <h3>Welcome To The Writer's Nest</h3>
        <div class="shorting">
            <strong>4drafts.org</strong> - Just an online thread-based forum for short stories.
            Whether you are an aspiring writer who wants to share their work or just
            an avid reader who wants to check out said work, this is the place for you.
            You can browse and read threads in any category even if you don't have an account. However,
            if you have some of your own interesting ideas and stories you want to share, or just want to
            make some witty comments, go and create an account and start participating !
        </div>
    </div>

    <a asp-controller="Threads" asp-action="Popular" type="button" class="btn btn-outline-primary mt-4"><i class="fas fa-fire"></i> Popular</a>
</div>
