@model List<ThreadsBrowseModel>
@{
    ViewBag.Title = "Browse";
}
<div class="container-fluid">
    <div class="row">
        <div id="threads-section" class="col">
            <partial name="_ThreadsPartial" model="@Model" />
        </div>
        <div class="col-4 sidebar">
            @await Component.InvokeAsync("Sideview")
        </div>
    </div>
</div>