@model CreateThreadFormModel

@{
    ViewBag.Title = "Create";

}

<body>
    <form asp-controller="Threads" asp-action="Create" method="post">
        <div class="container-fluid mw-350 mt-4">
            <div class="form-header" align="center">
                <div class="dropdown-divider"></div>
                <h2 class="heading-margin">@ViewBag.Title</h2>
                @{
                   if (String.IsNullOrWhiteSpace(Model.CategoryName))
                   {
                   <p class="text-muted">Select a category</p>
                   }
                   else
                   {
                   <p class="text-muted">Start a thread in the <strong>@Model.CategoryName</strong> category</p>
                   }
                }
                <div class="dropdown-divider"></div>
            </div>
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="CategoryId" class="form-label mt-4"></label>
                    <select asp-for="CategoryId" class="form-control" id="category-selection">
                        @foreach (var category in Model.Categories)
                        {
                            <option id="/Threads/Create?categoryId=@category.Id" value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="Title" id="title-input">
                    <span asp-validation-for="Title" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" rows="4" class="form-control" placeholder="Content" id="description-input">></textarea>
                    <span asp-validation-for="Content" class="small text-danger"></span>
                </div>
            </div>

            <div class="form-footer" align="center">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </div>
    </form>
</body>


@section Scripts{
    <script>
        $('#category-selection').on('change', function () {
              window.location.href = this.options[this.selectedIndex].id;
        });
    </script>

}
