@model ThreadViewModel
@{
    ViewBag.Title = "Delete";
    Layout = null;
}
<div class="container-fluid mw-350 text-center">
    <div class="form-header">
        <p class="text-danger"><i class="fas fa-exclamation-triangle"></i> <strong>Warning!</strong> This action is irreversible. <i class="fas fa-exclamation-triangle"></i></p>
        <div class="dropdown-divider"></div>
        <h2 class="heading-margin">@ViewBag.Title</h2>
        <span class="text-muted">Please confirm the removal of this <strong>thread</strong></span>
        <div class="dropdown-divider"></div>
    </div>
    <div class="form-footer" align="center">
        <button class="btn btn-outline-danger" type="button" onclick="deleteThreadPost('@Model.Id', '@Model.CategoryId');"><i class="fas fa-trash-alt"></i> Confirm</button>
        <button class="btn btn-outline-dark" type="button" onclick="cancelModal()"><i class="fas fa-window-close"></i> Cancel</button>
    </div>
</div>
