@model EditThreadViewModel

@{
    ViewBag.Title = "Edit";
    Layout = null;
    var rules = new List<string>();
    rules.Add("Stories must have a minimum of 500 characters.");
    rules.Add("Poems must have a minimum of 100 characters.");
    rules.Add("Prompts must be between 50 and 500 characters long.");
    rules.Add("Plagiarism will result in a ban");
    rules.Add("No immature / sexually explicit content");
    rules.Add("Avoid racism and political debates");
    rules.Add("Avoid detailed uses of suicide, and mental health stereotypes");
}

<div class="container">
    <div class="main-body">
        <form id="thread-edit-formdata" asp-controller="Threads" asp-action="Edit">
            <div class="row justify-content-center">
                <div class="col card-body form-body">
                    <h2 align="center"><i class="fal fa-edit"></i> Edit @Model.Type</h2>
                    <hr />
                    <table class="mb-3 table-fixed w-100" align="center">
                        <tr>
                            <td class="border-cut bg-secondary p-2">
                                <h4 class="text-center">Rules</h4>
                                <ul>
                                    @foreach (var rule in rules)
                                    {
                                        <li>@rule</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <div class="form-group d-none">
                        <input asp-for="Id" class="form-control" hidden>
                    </div>
                    <div class="form-group d-none">
                        <input asp-for="TypeId" class="form-control" hidden>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control edges" placeholder="The title of your story..." id="title-content">
                        <span asp-validation-for="Title" class="small text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content"></label>
                        <textarea asp-for="Content" rows="6" class="form-control edges" placeholder="The story itself..." id="content-content"></textarea>
                        <span asp-validation-for="Content" class="small text-danger"></span>
                    </div>
                </div>
                <div class="form-footer">
                    <div class="text-secondary" align="center">
                        <a onclick="refer('thread-edit-formdata')" class="btn btn-outline-primary"><i class="fal fa-save"></i> Save Changes</a>
                        <button class="btn btn-outline-dark" type="button" onclick="cancelModal()"><i class="fal fa-times"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
