@model List<ThreadsBrowseModel>
@{
    var user = await this.userManager.GetUserAsync(User);
    var userId = user == null ? null : user.Id;
    var bestThreads = new List<ThreadsBrowseModel>();
    if (Model.Any())
    {
        foreach (var t in Model)
        {
            if (bestThreads.Count() >= 3) break;

            bestThreads.Add(new ThreadsBrowseModel
            {
                Id = t.Id,
                Title = t.Title,
                Description = t.Description,
                CategoryName = t.CategoryName,
            });
        }
    }
}
<div>
    <partial name="_CarouselPartial" model="@bestThreads" />
    <div class="ml-3">
        @if (user != null)
        {
            <a onclick="createThreadInPopup()" class="btn btn-primary mb-2"><i class="fas fa-plus-square"></i> Start Thread</a>
        }
        @if (user == null)
        {
            <a class="btn btn-primary mb-2 disabled"><i class="fas fa-plus-square"></i> Start Thread</a>
        }
    </div>
    <div class="container-fluid" id="threads-section">
        <partial name="_ThreadsPartial" model="@Model" />
    </div>
</div>