@model List<DraftViewModel>

@{
    <a onclick="popUp('/Threads/Create/', 'thread-new')" class="dropdown-item"><i class="fal fa-file-plus"></i> New</a>
    @if (Model.Any())
    {
        <div class="dropdown-divider"></div>
        foreach (var draft in Model)
        {
            <a onclick="popUp('/Threads/Create/', 'thread-draft', null, '@draft.Title', '@draft.Content')" class="dropdown-item"><i class="fal fa-pencil-ruler"></i> @draft.Title</a>
        }
    }
}
