@{ 
    var user = await this.userManager.GetUserAsync(User);
    var userId = user == null ? null : user.Id;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 4drafts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/b-1.7.1/date-1.1.0/fc-3.3.3/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.css" />
</head>
<body class="bg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="layout-logo" src="https://i.imgur.com/7pLHF2D.png" alt="Logo" />
                </a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item text-color-black dropdown">
                        <a class="text-color-black nav-link dropdown-toggle" title="Browse categories" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-archive"></i> Categories</a>
                        <div class="dropdown-menu">
                            <a asp-controller="Categories" asp-action="All" class="dropdown-item">All</a>
                            <div class="dropdown-divider"></div>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="1" class="dropdown-item">Literary Fiction</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="2" class="dropdown-item">Mystery</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="3" class="dropdown-item">Thriller</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="4" class="dropdown-item">Horror</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="5" class="dropdown-item">Historical</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="6" class="dropdown-item">Romance</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="7" class="dropdown-item">Western</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="8" class="dropdown-item">Bildungsroman</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="9" class="dropdown-item">Speculative Fiction</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="10" class="dropdown-item">Science Fiction</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="11" class="dropdown-item">Fantasy</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="12" class="dropdown-item">Dystopian</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="13" class="dropdown-item">Magical Realism</a>
                            <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="14" class="dropdown-item">Realist Literature</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Threads" asp-action="Browse" title="Browse threads" class="nav-link text-color-black"><i class="fas fa-th-large"></i> Browse</a>
                    </li>
                    @if (user != null)
                    {
                        <li class="nav-item">
                            <a asp-controller="Threads" asp-action="Library" title="My threads" class="nav-link text-color-black"><i class="fas fa-list"></i> Library</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Threads" asp-action="Favourites" title="Liked threads" class="nav-link text-color-black"><i class="fas fa-heart"></i> Favourites</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="createThreadInPopup()" title="Start Thread" class="nav-link text-color-black"><i class="fas fa-plus"></i> Post</a>
                        </li>
                    }
                </ul>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" style="margin-left: auto; margin-right: 5px;" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" style="margin-left: auto; margin-right: 5px;" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="loaderbody hide" id="loaderbody">
        <div class="loader"></div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - 4drafts
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/notify.min.js" asp-append-version="true"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/b-1.7.1/date-1.1.0/fc-3.3.3/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
