@model ThreadViewModel
@{
    var user = await this.userManager.GetUserAsync(User);
}

@{
    if (user != null)
    {
        if (Model.Liked)
        {
            <a onclick="likeThread('@Model.Id')" class="text-danger"><i class="fas fa-2x big-icon fa-heart"></i></a>
        }
        else
        {
            <a onclick="likeThread('@Model.Id')" class="text-danger"><i class="far fa-2x big-icon fa-heart"></i></a>
        }
    }
    else
    {
        <a class="text-secondary disabled"><i class="far fa-2x big-icon fa-heart"></i></a>
    }
}
<span class="ml-1 mr-1">@Model.Points <span class="text-muted">likes</span></span>
