@model ThreadViewModel
@{
    var user = await this.userManager.GetUserAsync(User);
}

<div class="p-2 zoom">
    @{
        if (user != null)
        {
            var liked = Model.Liked == true ? "fas" : "far";
            <a onclick="likeThread('@Model.Id')" class="text-danger"><i class="@liked fa-lg big-icon fa-heart"></i></a>
        }
        else
        {
            <a onclick="popUp('/Authentication/Login/', 'auth', '@Context.Request.GetDisplayUrl()')" class="text-danger"><i class="far fa-lg big-icon fa-heart"></i></a>
        }
    }
    <div class="d-inline"><span>@Model.Points</span></div>
</div>

