@model GlobalViewModel
@{
    ViewBag.Title = "Delete";
    Layout = null;
}
<div class="container-fluid text-center">
    <h2><i class="fal fa-trash"></i> @ViewBag.Title</h2>
    <hr />
    <span class="badge badge-danger"><i class="fas fa-exclamation-triangle"></i> <strong>Warning!</strong> This action is irreversible. <i class="fas fa-exclamation-triangle"></i></span>
    <p class="mt-2">Do you really want to permanently remove this <strong>@Model.Name</strong> ?</p>
    <div class="mt-3" align="center">
        <button class="btn btn-sm btn-outline-danger" type="button" onclick="deletePost('@Model.Id', '@Model.Path');"><i class="fal fa-check"></i> Confirm</button>
        <button class="btn btn-sm btn-outline-dark" type="button" onclick="cancelModal()"><i class="fal fa-times"></i> Cancel</button>
    </div>
</div>
