<div class="col text-center mt-5">
    <i class="text-success far fa-9x fa-check-circle"></i>
    <h1>Success</h1>
    <h4>The thread has been deleted successfully</h4>
    <a asp-controller="Threads" asp-action="Browse" class="mt-2 btn btn-lg btn-outline-primary" type="button"><i class="fas fa-th-large"></i> Browse</a>
</div>
