@{ 
    ViewBag.Title = "Success";
    Layout = null;
}
<div class="container-fluid d-flex flex-column" style="height: 100%; ">
    <div class="text-center">
        <div class="form-header">
            <i class="text-success far fa-9x fa-check-circle mb-4"></i>
            <h1>Success</h1>
            <h4>The thread has been successfully deleted</h4>
        </div>
        <div class="form-footer">
            <a asp-controller="Threads" asp-action="Browse" class="mt-4 mb-1 btn btn-outline-primary" type="button"><i class="fas fa-bars"></i> BROWSE</a>
        </div>
    </div>
</div>
