@model List<CategoriesBrowseModel>
@{
    ViewBag.Title = "Categories";
}
<div class="container-fluid mt-5 mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header pr-0 pl-0">
                    <div class="row no-gutters align-items-center w-100">
                        <div class="col font-weight-bold pl-3">Genre</div>
                        <div class="d-none d-md-block col-6 text-muted">
                            <div class="row no-gutters align-items-center">
                                <div class="col-3">Threads</div>
                                <div class="col-3">Replies</div>
                                <div class="col-6">Last entry</div>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    foreach (var category in Model)
                    {
                        <div class="card-body py-3">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <a asp-controller="Categories" asp-action="Browse" asp-route-categoryId="@category.Id" class="text-big font-weight-semibold" data-abc="true">
                                        @category.Name
                                    </a>
                                </div>
                                <div class="tooltip media-img-30 mr-350 hide-sm">
                                    <img src="https://image.flaticon.com/icons/png/512/292/292178.png"/>
                                    <span class="tooltiptext">@category.Description</span>
                                </div>
                                <div class="d-none d-md-block col-6">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-3">@category.ThreadCount</div>
                                        <div class="col-3">14</div>
                                        <div class="media col-6 align-items-center">
                                            <img src="https://i.imgur.com/Ur43esv.jpg" alt="" class="d-block ui-w-30 rounded-circle">
                                            <div class="media-body flex-truncate ml-2">
                                                <a href="javascript:void(0)" class="d-block text-truncate" data-abc="true">Thankyou for your help. appreciate your solution</a>
                                                <div class="text-muted small text-truncate">2d ago &nbsp;·&nbsp; <a href="javascript:void(0)" class="text-muted" data-abc="true">William Smith</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="m-0">
                    }
                }
            </div>
        </div>
    </div>
</div>
