@model CategoryBrowseModel
@{
    ViewBag.Title = Model.Name;
    var user = await this.userManager.GetUserAsync(User);
    var categoryId = Model.Id;
}

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3 strokeme">@Model.Name</h1>
        <p class="lead">@Model.Description</p>
    </div>
    <div class="container-fluid" id="threads-section">
        <partial name="_ThreadsPartial" model="@Model.Threads" />
    </div>
</div>