@model EditCommentViewModel
@{
    ViewBag.Title = "Delete Comment";
    Layout = null;
}
<div class="container-fluid mw-350 text-center">
    <div class="form-header">
        <div class="dropdown-divider"></div>
        <h2 class="heading-margin">@ViewBag.Title</h2>
        <p class="text-danger"><strong>Warning!</strong> This action is irreversible.</p>
        <div class="dropdown-divider"></div>
    </div>
    <div class="form-footer" align="center">
        <button class="btn btn-danger" type="button" onclick="deleteCommentPost('@Model.Id');"><i class="fas fa-trash"></i> Delete</button>
    </div>
</div>
