@model EditCommentViewModel

@{
    ViewBag.Title = "Edit Comment";
    Layout = null;
}

<form asp-controller="Comments" asp-action="Edit" asp-route-threadId="@Model.Id" onsubmit="return editCommentPost(this);">
    <div class="container-fluid mw-350">
        <div class="form-header" align="center">
            <div class="dropdown-divider"></div>
            <h2 class="heading-margin">@ViewBag.Title</h2>
            <p class="text-muted">Make your changes</p>
            <div class="dropdown-divider"></div>
        </div>
        <div class="form-body ">
            <div class="form-group d-none">
                <input asp-for="Id" class="form-control" id="title-input" hidden>
            </div>
            <div class="form-group">
                <textarea asp-for="Content" rows="4" class="form-control" id="description-input">></textarea>
                <span asp-validation-for="Content" class="small text-danger"></span>
            </div>
        </div>
        <div class="form-footer" align="center">
            <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> Save Changes</button>
        </div>
    </div>
</form>
