@model UserViewModel

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<form asp-controller="Users" asp-action="Edit" method="post" onsubmit="return editAccountPost(this);">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#editProfile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#editLinks">Links</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="editProfile">
            <h3 align="center" class="mt-3">Profile</h3>
            <hr style="background-color: black; width: 30%;" />
            <div class="form-group">
                <label asp-for="AvatarUrl"></label>
                <input type="url" asp-for="AvatarUrl" class="form-control" placeholder="https://image.flaticon.com/icons/png/512/64/64572.png">
                <span asp-validation-for="AvatarUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" placeholder="John">
                <span asp-validation-for="FirstName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" placeholder="Luther">
                <span asp-validation-for="LastName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age"></label>
                <input asp-for="Age" class="form-control" placeholder="27">
                <span asp-validation-for="Age" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender"></label>
                <select asp-for="Gender" class="form-control" placeholder="@Model.Gender">
                    <option>Male</option>
                    <option>Female</option>
                </select>
                <span asp-validation-for="Gender" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Occupation"></label>
                <input asp-for="Occupation" class="form-control" placeholder="Detective">
                <span asp-validation-for="Occupation" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutMe"></label>
                <textarea asp-for="AboutMe" class="form-control" placeholder="More about me..."></textarea>
                <span asp-validation-for="AboutMe" class="small text-danger"></span>
            </div>
        </div>
        <div class="tab-pane fade" id="editLinks">
            <h3 align="center" class="mt-3">Links</h3>
            <hr style="background-color: black; width: 30%;" />
            <div class="form-group">
                <label asp-for="Website"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="website"><i class="fas fa-lg fa-globe big-icon"></i></span>
                    <input type="url" asp-for="Website" class="form-control" placeholder="https://www.website.com" aria-describedby="website">
                </div>
                <span asp-validation-for="Website" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discord"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="discord"><i class="fab fa-lg fa-discord big-icon"></i></span>
                    <input type="url" asp-for="Discord" class="form-control" placeholder="https://discord.gg/QuvVfG" aria-describedby="github">
                </div>
                <span asp-validation-for="Discord" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Twitter"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="twitter"><i class="fab fa-lg fa-twitter big-icon"></i></span>
                    <input type="url" asp-for="Twitter" class="form-control" placeholder="https://twitter.com/example" aria-describedby="twitter">
                </div>
                <span asp-validation-for="Twitter" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="instagram"><i class="fab fa-lg fa-instagram big-icon"></i></span>
                    <input type="url" asp-for="Instagram" class="form-control" placeholder="https://www.instagram.com/example" aria-describedby="instagram">
                </div>
                <span asp-validation-for="Instagram" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook"></label>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="facebook"><i class="fab fa-lg fa-facebook big-icon"></i></span>
                    <input type="url" asp-for="Facebook" class="form-control" placeholder="https://www.facebook.com/example" aria-describedby="facebook">
                </div>
                <span asp-validation-for="Facebook" class="small text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-secondary" align="center">
        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i> Save Changes</button>
        <button class="btn btn-outline-dark" type="button" onclick="cancelModal()"><i class="fas fa-window-close"></i> Cancel</button>
    </div>
</form>