@model LoginUserFormModel

@{
    ViewBag.Title = "Login";
    var isNull = Model == null ? 1 : 0;
}

<body onload=showLoginDanger();>
    <form method="post">
        <div class="container mw-350 mt-4">
            <div class="form-header" align="center">
                <div class="dropdown-divider"></div>
                <h2 class="heading-margin text-center">@ViewBag.Title</h2>
                <p class="text-muted">Sign into your account to participate in the discussions</p>
                <div class="dropdown-divider"></div>
            </div>

            <div class="form-body">

                <div class="form-group">
                    <label asp-for="Email" class="form-control-label"></label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Your email address">
                    <span asp-validation-for="Email" class="small text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="form-control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Your password">
                    <span asp-validation-for="Password" class="small text-danger"></span>
                </div>

                <div class="alert alert-dismissible alert-danger" hidden id="pop-up-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Invalid Credentials!</strong> Try again.
                </div>

            </div>

            <div class="form-footer" align="center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <br />
                <span class="text-muted">Don't have an account?</span>
                <a asp-controller="Users" asp-action="Register">Sign up</a>
            </div>
        </div>
    </form>
</body>

@{
    <script type="text/javascript">
function showLoginDanger() {
    var danger = document.getElementById("pop-up-danger");

    if (@isNull != 1) {
        danger.removeAttribute("hidden");
    }
}
    </script>
}
