@model RegisterUserFormModel

@{
    ViewBag.Title = "Register";
}

<form method="post">
    <div class="container-fluid mw-350 mt-4">
        <div class="form-header" align="center">
            <div class="dropdown-divider"></div>
            <h2 class="heading-margin text-center">@ViewBag.Title</h2>
            <p class="text-muted">Create an account to participate in the discussions</p>
            <div class="dropdown-divider"></div>
        </div>


        <div class="form-body">
            <div class="form-group">
                <label asp-for="Username" class="form-control-label"></label>
                <input asp-for="Username" type="text" class="form-control" placeholder="Choose a username">
                <span asp-validation-for="Username" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="form-control-label"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Your email address">
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="form-control-label"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Choose a password">
                <span asp-validation-for="Password" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordConfirmation" class="form-control-label"></label>
                <input asp-for="PasswordConfirmation" type="password" class="form-control" placeholder="Repeat your password">
                <span asp-validation-for="PasswordConfirmation" class="small text-danger"></span>
            </div>

        </div>

        <div class="form-footer" align="center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <br />
            <span class="text-muted">Already have an account?</span>
            <a asp-controller="Users" asp-action="Login">Sign in</a>
        </div>
    </div>
</form>
